body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
}

button {
    background: #2ecc71;
    color: white;
    border: none;
    font-weight: bold;
}
